@{
    ViewData["Title"] = "Home Page";
}


<h1> Welcome to DevOps world </h1>

<h4> We will be performing </h4>

<ul>
    <li>CI</li>
    <li>CD</li>
</ul>



<h1> We just configured CI, and it was a success, we are not trying to push a new change and check if CI gets triggered </h1>